body{
    background: white
}
#principal{
    width: 50vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    background-color: #063099;
}

#teste{
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#borda{
    border: 7px groove #50aaff;
}
#menu{
    
    background-color: #063099;
    padding: 30px;
    
}
a{
    color: #a9bef5;
    text-decoration: none;
    font-weight: bold;
    
    padding: 5px;
}