body{
    background: #f4f4f4;
}
#principal{
    width: 920px;
    height: 585px;
    border: 3px solid red;
}
.noticia{
    background:  #e5e5e5;
    padding: 5px;
    width: 280px;
    margin: 8px;
    float: left;
}
.clear{
    clear: both;
}
.imagen_galeria{
    background:  #e5e5e5;
    padding: 5px;
    width: 280px;
    margin: 8px;
    float: left;
}